{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <a href="#">
                    <img class="nav-image" src="{% static 'img/django-logo-white.svg' %}" width="100%" />
                </a>

                <div class="logo-element">
                    UC
                </div>
            </li>

            <li class="{% if 'category' in request.path and 'sub' not in request.path %}active{% endif %}">
                <a href="{% url 'category-list' %}">
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Category</span>
                </a>
            </li>

            <!-- <li class="{% if 'subcategory' in request.path %}active{% endif %}">
                <a href="{% url 'subcategory-list' %}">
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Sub Category</span>
                </a>
            </li> -->

            <li class="{% if 'product' in request.path and 'tag' not in request.path and 'image' not in request.path  %}active{% endif %}">
                <a href="{% url 'product-list' %}">
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Product</span>
                </a>
            </li>

            <!-- <li class="{% if 'image' in request.path   %}active{% endif %}">
                <a href="{% url 'productimage-list' %}">
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Product Image</span>
                </a>
            </li>

            <li class="{% if 'tag' in request.path   %}active{% endif %}">
                <a href="{% url 'producttag-list' %}">
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Product Tag</span>
                </a>
            </li> -->
        </ul>

    </div>
</nav>