<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/form_validation.css' %}">
    <style>
        #keyword-word{
            font-size: 14px;
            color: #222221;
            letter-spacing: 0;
            background: #CBCBCB;
            border-radius: 12.5px;
            padding: 6px 40px 6px 15px;
             display: block;
            line-height: 16px;
            margin: 0 0 10px 10px;
            display: inline-block;
            text-decoration: none;
            z-index: 9;
            position: relative;
            font-family: "futurabook";
        }
        #keyword-word span{
            height: 28px;
            width: 28px;
            border-radius: 100px;
            background-color: #727272;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        ul li{
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div class="container jumbotron">
        <h1>Post Your Blog Here</h1>
        <form class="form-horizontal" id="blog-form" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-2">Blog Title</label>
                <input class="form-control" value="{{ blog.blog_title }}" id="blog_title" type="text">
                <div class="text-danger" id="blog_title-error"></div>
                <input type="hidden" id="update_blog" {% if blog %}value="{{ blog.id }}"{% endif %}>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Blog</label>
                <textarea class="form-control" id="blog" cols="30" rows="10">{{ blog.blog }}</textarea>
                <div class="text-danger" id="blog-error"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Keywords</label>
                <input class="form-control" id="keyword" type="text">
                <input type="hidden" id="keyword_list" value=""/>
                <div class="keyword-list">
                    <ul id="keyword-list-display" style="list-style-type: none;padding: 0px;display: flex;">
                        {% for keyword in keywords %}
                            <li>
                                <a href='#' id='keyword-word'>{{keyword}}<span class='remove-keyword'><i class='fa fa-times'></i></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Attachment</label>
                <div class="custom-file">   
                  <label class="custom-file-label " for="document_image">Choose file</label>
                  <input type="file" class="custom-file-input form-control file-upload" id="customFile">
                  {% ifequal blog.image True %}
                  <img class="profile-pic" src="" id="document_image" hidden>
                  {% else %}
                  <img class="profile-pic" src="{{ blog.image.url }}" id="document_image" hidden>
                  {% endifequal %}
                  <div class="text-danger" id="document-image-error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Select Category</label>
                <select class="form-control" id="hidden_category">
                    <option id="{{ blog.category.id }}" value="{{ blog.category.id }}">{{ blog.category }}</option>
                    {% for cat in category %}
                    <option id="{{ cat.id }}" value="{{ cat.id }}">{{ cat.category }}</option>
                    {% endfor %}
                    <div class="text-danger" id="category-error"></div>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Author</label>
                <input class="form-control" value="{{ blog.author }}" id="author" type="text">
                <div class="text-danger" id="author-error"></div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-sm-offset-2 col-sm-10">
                        <button type="button" id="publish_blog" class="btn btn-success">Publish</button>
                    </div>
                    <div class="col-lg-6 col-sm-offset-2 col-sm-10" style="text-align: end;">
                        <a href="{% url 'blog-listing' %}" class="btn btn-warning">Back</a>
                    </div>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/form_validation.js' %}"></script>
</body>

</html>