{% load static %}
{% load crispy_forms_tags %}
{{ form | crispy }}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{% static 'django_template/css/style.css' %}" />
    <title>User Login</title>

    <style>
        .errorspan {
            color: red;
        }

        .err {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container" style="max-width:600px">
        <h2 class="text-center" style="margin-top: 200px;">You must login first!</h2>
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</body>

</html>