{% extends '../change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <table>
            <tr>
                <td><h4>Order deatils</h4></td>
            </tr>
            <tr>
                <td>order_id</td>
                <td>{{obj.order_id}}</td>
            </tr>
            <tr>
                <td>transaction_id</td>
                <td>{{obj.transaction_id}}</td>
            </tr>
            <tr>
                <td>user</td>
                <td>{{obj.user.email}}</td>
            </tr>
            <tr>
                <td>card(last 4)</td>
                <td>{{obj.card.last4}}</td>
            </tr>
            <tr>
                <td>total_amount</td>
                <td>{{obj.total_amount}}</td>
            </tr>
            <tr>
                <td>status</td>
                <td>{{obj.status}}</td>
            </tr>
            <tr>
                <td>billing_address</td>
                <td>{{obj.billing_address.get_full_address}}</td>
            </tr>
            <tr>
                <td>shipping_address</td>
                <td>{{obj.shipping_address.get_full_address}}</td>
            </tr>
            <tr>
                <td><h4>Product list</h4></td>
            </tr>
            {% for item in items %}
                <tr>
                    <td>product name: {{item.product.name}}</td>
                </tr>
                <tr>
                    <td>product number : {{item.product.product_number}}</td>
                </tr>
                <tr>
                    <td>
                    Quantity {{item.quantity}}
                </td>
                </tr>
                <tr>
                    <td>Amount {{item.amount}}</td>
                </tr>
                <td>
                    <image src="{{item.product.image}}" height="100" width="100"/>
                </td>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}  