{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ibox float-e-margins">

            {% include "partials/ibox_title.html" with ibox_title="Producttag Details" icon_class="fas fa-sign-in-alt" only %}
            <div class="ibox-content">
                <div class="row align-items-start">
                    <div class="col-sm-6">
                        {{form.tag | attr:'required' |as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.product | attr:'required' | as_crispy_field}}
                    </div>
                </div>
            </div>
            {% include "partials/form_footer.html" %}
        </div>
</form>
{% endblock  %}