{% extends 'customadmin/base_section.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    Details {{ opts.verbose_name|capfirst }}
{% endblock%}


{% block page_header %}
    {{opts.verbose_name|capfirst}}-Detail
{% endblock%}


{% block current_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'customadmin:index' %}">{% trans 'Home' %}</a>
</li>

<li class="breadcrumb-item">
    {% if opts.verbose_name_plural == 'Groups' %}
    {% if has_view_permission %}<a href="{% url opts|admin_urlname:'list' %}">User Roles</a>{% else %}User Roles{% endif %}
    {% else %}
    {% if has_view_permission %}<a href="{% url opts|admin_urlname:'list' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% elif request.user.is_staff %}<a href="{% url opts|admin_urlname:'list' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    {% endif %}

</li>

<li class="breadcrumb-item active">
    <a>{{objects.email}}</a>
</li>



{% endblock %}


{% block formset_errors %}
    {% include "customadmin/partials/form_errors.html" with form=form %}
{% endblock%}


{% block page_content %}
    Change form content goes here.
{% endblock %}