{% extends 'customadmin/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Edit - {{model_name | title}}</h3>
            <span class="clearfix"></span>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="container align-center">
                <div class="row align-items-start">
                    <div class="col-sm-6">
                        {{form.title | attr:'required' |as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.notification_type | attr:'required' | as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.is_read | as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.profile_image | as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.is_singleuser | as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.status | as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.group | as_crispy_field}}
                    </div>
                    <div class="col-sm-6">
                        {{form.user | as_crispy_field}}
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        {{form.description|attr:'required'| as_crispy_field}}
                    </div>
                </div>
                <div class="row align-items-center text-center">
                    <div class="col-sm-12">
                        <button class="btn btn-success btn-lg" style="margin: 5px;">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}